.dropdown-menu {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    background-color: whitesmoke;

    button {
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        cursor: pointer;
        background-color: transparent;

        &:hover {
            background-color: orange;
        }
    }

    li {
        width: 100%;
        padding: 1rem;

        &:hover {
            background-color: orange;
        }
    }
}

@media screen and (min-width: 768px) {
    .dropdown-menu {
        display: none;
    }
}